body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /*height: 100vh;*/
    height: auto; /* Pas de hauteur fixe */
}
body, html {
    overflow: visible;
}
h1, p {
    margin: 0;
    padding: 0;
}
header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
}

Objet_Invisible {
    display:none;
}

/* Survol de ligne pour les tables avec la classe interactive-table */
.interactive-table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Sélection de ligne pour les tables avec la classe interactive-table */
.TableDesSeries tbody tr.selected {
    background-color: hsla(232, 87%, 49%, 0.369);
}
h2 {
    position: sticky;
    top: 0; /* Ajustez selon l'espace souhaité au-dessus */
    background-color: #fff; /* Fond pour éviter les chevauchements */
    z-index: 1000; /* Priorité d'affichage au-dessus des autres éléments */
    /*padding: 10px;*/
    padding: 0;
    margin:0;
    height: auto;
}

/* Style de la modale */
.modal {
    display: none; /* Cachée par défaut */
    position: fixed;
    z-index: 1000; /* Au-dessus de tout */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond grisé */
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Contenu de la modale */
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Style des boutons */
.modal-buttons {
    margin-top: 20px;
}

.modal-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
}

.modal-btn:hover {
    background-color: #0056b3;
}
.form-group {
    display: flex;
    align-items: center; /* Aligne verticalement les éléments */
    margin-bottom: 10px; /* Espacement entre les lignes */
}

label {
    width: 150px; /* Définissez une largeur fixe pour le label */
    margin-right: 10px; /* Espacement entre le label et l'input */
    text-align: right; /* Alignement du texte à droite pour un aspect soigné */
}

input, textarea {
    flex: 1; /* Permet à l'input et au textarea de prendre le reste de l'espace */
}
textarea {
    min-height: 100px; /* Hauteur minimale */
    resize: vertical; /* Permet le redimensionnement vertical */
}

